---
import '../../src/styles/globals.css';
import '@fontsource-variable/inter/wght.css';
import interWoff2 from '@fontsource-variable/inter/files/inter-latin-wght-normal.woff2?url';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

interface Props {
    title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
    <head>
<!-- Start of Uzera Code Snippet -->
<script>
(function(u,z,a){if(u["a_id"]){return;}u["a_id"]=a;u["dm"]=u.location.hostname;u.uzera=u.uzera||[];u.uzera.q=u.uzera.q||[];['identify','trackEvent'].forEach(function(m){u.uzera[m]=function(){u.uzera.q.push([m,arguments]);};});var s=z.createElement("script");s.async=true;s.src="https://assets.uzera.com/wrapper.min.js";var t=z.getElementsByTagName("script")[0];t.parentNode.insertBefore(s,t);})(window,document,"PPBMWJ5JY9")
</script>
<!-- End of Uzera Code Snippet -->
    </head>
    <body class="antialiased text-white bg-complementary">
        <div class="flex flex-col min-h-screen px-6 bg-noise sm:px-12">
            <div class="flex flex-col w-full max-w-5xl mx-auto grow">
                <Header />
                <main class="grow"><slot /></main>
                <Footer />
            </div>
        </div>
    </body>
</html>
